body {
    margin: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#130a27, #0d0818f3);
    display: flex;
    justify-content:center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #f0b904;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #322949;
    border-radius: 35px;
    box-shadow: 0px 10px 30px #00000056;
}

.card-login > h1 {
    color: #f0b904;
    font-weight: 700;
    margin: 0;
    letter-spacing: 3px;
}

.textField {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    letter-spacing: 1px;
}

.textField > input {
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 15px;
    background: #271e3b;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textField > label {
    color: #d6d1d1;
    margin-bottom: 10px;
}

.textField > input::placeholder {
    color: #978aad80;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 14px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #1e0c5e;
    background: #cea008;
    cursor: pointer;
    box-shadow: 0px 15px 40px -12px #cea008;
}